body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#chatinput {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#typebox {
    position : relative;
    left: 0px;
    /*width: 100%;*/

}
#typeboxinput {
    width: 70%;
    z-index: 1;

}

#commentbuttonhit {
    z-index: 2;
    position : absolute;
    right: 0px;
    /*width: 10%;*/

}

